# Dependencies
node_modules/
package-lock.json

# Local Environment Variables & Secrets
.env
.env.local
*.env

# Local Test Artifacts
*.epub
*.log

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
